{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
{% set nom = "" %}
{% set id = 0 %}
{% set total = 0 %}
{% set montant = 0 %}
{% set charges = 0 %}
{% set type = "" %}
{% for scm in scms  %}
    {% set nom = scm.nom %}
    {% set id = scm.id %}
    {% set charges = scm.charges  %}
{% endfor %}
<div class="card text-center">
    <div class="card-header">
        <h1>
          tableau de bord (admin): {{nom}}
        </h1>
    </div>
    <div class="card-body">
      <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Charges</h5>
                
                <table id="table_id" class="table table-striped table-bordered">
                  <thead>
                      <tr>
                          <th>Dénomination</th>
                          <th>type</th>
                          <th>Montant</th>
                          <th>Date</th>
                          <th>Echéance</th>
                          <th>payé le</th>
                      </tr>
                  </thead>
                  <tbody>                 
                    {% for charge in charges  %}
                          <tr>
                              <td>{{charge.nom}}</td>
                              {% if charge.type == 1 %}
                                {% set type = "variable" %}
                              {% else %}
                                {% set type = "fixe"  %}
                              {% endif %}
                              <td>{{type}}</td>
                              <td>{{charge.montant}} €</td>
                              {% set total = total + charge.montant %}
                              <td>{{charge.createdAt | date("d/m/Y")}}</td>
                              <td>{{charge.paymentAt | date("d/m/Y")}}</td>
                              <td>{{charge.payedAt | date("d/m/Y")}}</td>
                          </tr>                    
                    {% endfor %}
                  </tbody>
              </table>
              <p>total des charges : {{total}} €</p>

                <a href="{{path('charges', { id : id })}}" class="btn btn-primary">Ajouter une charge</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Membres</h5>
                {# {{dump(users)}} #}
                  <table id="table_user" class="table table-striped table-bordered">
                  <thead>
                      <tr>
                          <th>Nom</th>
                          <th>Nombres de part</th>
                          <th>Montant charges</th>
                      </tr>
                  </thead>
                  <tbody>                 
                    {% for user in users  %}
                          <tr>
                              <td>{{user.username}}</td>
                              <td>{{user.nbPart}}</td>
                              {% set montant = (total * user.nbPart)/ 100 %}
                              <td>{{montant}} €</td>
                          </tr>                    
                    {% endfor %}
                  </tbody>
                </table>
                {% if nbPart >= 100 %}
                  <p>Toutes les parts de la soviété ont été distribuées</p>
                {% else %}
                  <a href="{{path('app_register', { id : id })}}" class="btn btn-primary">Ajouter un membre</a>                  
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ "now"|date("d/m/Y") }}
    </div>
  </div>
  {# <label for="card-element">Card</label>
  <div id="card-element"></div> #}
  <card-card></card-card>
  {# <div>
    <form action="payment.php" id="paye">
      <input type="text" name="name">
      <input type="text" name="email">
      <input type="text" placeholder="code cb" data-stripe="number">
      <input type="text" placeholder="mm" data-stripe="exp_month">
      <input type="text" placeholder="yy" data-stripe="exp_year">
      <input type="text" placeholder="cvc" data-stripe="cvc">
      <button type="submit" class="button">Payer</button>
    </form>
  </div> #}


{% endblock %}