<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
      
        {% block stylesheets %}
        {{ encore_entry_link_tags('app')}}
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            {% if app.user %}           
            {{ app.user.username }} vous êtes connecté
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-link" href="{{ path('dash') }}">Tableau de bord</a>
            {% endif %}           
            <a class="nav-link" href="{{path('home')}}">Accueil</a>
            {% else %}
                    <a class="nav-link" href="{{path('create_scm')}}">Créer une SCM</a>
                <a class="nav-link" href="{{path('app_login')}}">Login</a>            
            {% endif %}
        </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags("app") }}
        <script data-cfasync="false" type="text/javascript" src="https://testscm.user.com/widget.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" charset="utf8" src="{{asset('scripts/script.js')}}"></script>
        {% endblock %}
    </body>
</html>
